@using GioiThieuSanPham.Models;
@model GioiThieuSanPham.Models.SanPham

@{
    ViewBag.Title = "Danh sach san pham";
    Layout = "~/Views/Shared/_Layout.cshtml";    
    QuanLySanPham_DBEntities db = new QuanLySanPham_DBEntities();
    HangSanXuat hangSX = db.HangSanXuats.Find(Model.idHang);
}


@if (Model == null)
{
    <div class="center_title_bar">Sản phẩm k tồn tại</div>
}
else
{
    <div class="center_title_bar"> @Model.TenSanPham </div>
    <div class="prod_box_big">
        <div class="center_prod_box_big">
            <div class="product_img_big">
                <a href="javascript:popImage('~/theme/images/big_pic.jpg','Some Title')" title="header=[Zoom] body=[&nbsp;] fade=[on]"><img src="~/theme/images/p3.jpg" alt="" border="0"></a>
                <div class="thumbs"> <a href="~/SanPham/ChiTietSanPham" title="header=[Thumb1] body=[&nbsp;] fade=[on]"><img src="~/theme/images/thumb1.jpg" alt="" border="0"></a> <a href="~/SanPham/ChiTietSanPham" title="header=[Thumb2] body=[&nbsp;] fade=[on]"><img src="~/theme/images/thumb2.jpg" alt="" border="0"></a> <a href="~/SanPham/ChiTietSanPham" title="header=[Thumb3] body=[&nbsp;] fade=[on]"><img src="~/theme/images/thumb1.jpg" alt="" border="0"></a> </div>
            </div>
            <div class="details_big_box">
                <div class="product_title_big">
                    <div>@Model.TenSanPham</div>
                </div>
                <div class="specifications">
                    
                    Hãng sản suất :
                           @if(hangSX != null)
                            {
                                <span class="blue">@hangSX.TenHang</span>
                            }
                    <br>
                    Thông tin :<span class="blue"> @Model.TomTat </span><br>
                </div>
                <div class="prod_price_big">
                    <span class="reduce">@string.Format("{0:#,0}", Model.GiaBanCu)</span> 
                    <span class="price">@string.Format("{0:#,0}", Model.GiaBanMoi)</span></div>
                <a href="~/SanPham/ChiTietSanPham" class="prod_buy">add to cart</a>
            </div>
        </div>
    </div>

}
