@model IEnumerable<GioiThieuSanPham.Models.SanPham>
@{
    ViewBag.Title = "Danh sach san pham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center_title_bar">Danh sách sản phẩm</div>
<a href="~/SanPham/ThemMoi">Thêm mới</a>
<hr />
@foreach (var item in Model)
{
    <div class="prod_box">
        <div class="center_prod_box">
            <div class="product_title"><a href="~/SanPham/ChiTietSanPham?id=@item.ID">@item.TenSanPham</a></div>
            <div class="product_img"><a href="~/SanPham/ChiTietSanPham?id=@item.ID"><img src="~/theme/images/p1.jpg" alt="" border="0" /></a></div>
            <div class="prod_price">
                <span class="reduce">@string.Format("{0:#,0}", @item.GiaBanCu)</span>
                <span class="price">@string.Format("{0:#,0}", @item.GiaBanMoi)</span>
            </div>
        </div>
        <div class="prod_details_tab"> <a href="~/SanPham/ChiTietSanPham?id=@item.ID" class="prod_buy">Add to Cart</a> <a href="~/SanPham/ChiTietSanPham" class="prod_details">Details</a> </div>
    </div>
}

